<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style=""></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image">
            <a href="#">
              <img src="
								<%= image_path 'profile.jpeg' %>" alt="Image" />
            </a>
          </div>
          <div class="h2 title">João Gouveia</div>
          <p class="category text-white">Software Engineer</p>
          <a class="btn btn-primary" href="https://drive.google.com/file/d/1dzXmc8h1bH6bD_eNF8LIN_fgu1K-HBgj/view?usp=sharing" download target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"><%= t :download_cv %></a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a id="lkd-profile-page" class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/joão-lucas-veloso-gouveia-1319a38a" target="_blank" rel="tooltip" title="<%= t :follow_me_on, platform: 'Linkedin' %>">
            <i class="fab fa-linkedin-in"></i>
            </a>
            <a id="gth-profile-page" class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/joaogouveia89" target="_blank" rel="tooltip" title="<%= t :follow_me_on, platform: 'Github' %>">
            <i class="fab fa-github"></i>
            </a>
            <a id="fcb-profile-page" class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/joaolucas.gouveia.9" target="_blank" rel="tooltip" title="<%= t :follow_me_on, platform: 'Facebook' %>">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-default btn-round btn-lg btn-icon" href="skype:joao.automacaomg?chat" target="_blank" rel="tooltip" title="<%= t :follow_me_on, platform: 'Skype' %>">
              <i class="fab fa-skype"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>