<div class="section" id="skill">
  <div class="container">
  	<div class="h4 text-center mb-4 title"><%= t :skills_summary %></div>
	  <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
	  	<div class="card-body">
		  	<h6 class="text-center mb-4" style="color: #378C3F;"> <%= t(:total_experience) %> <%= period_to_s(@total_xp_years) %> </h6>
		  	<% @stack_xp.keys.each_with_index do |key, index| %>
				<% experience_months = @stack_xp[key] %>
				<% if index % 2 == 0 %>
					<div class="row">
						<div class="col-md-6">
							<div class="progress-container progress-primary">
								<span class="progress-badge"><%= key %></span>
								<div class="progress">
									<div class="progress-bar progress-bar-primary progress-<%= perc_xp(@total_xp_years, experience_months) %>" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div><span class="progress-value"><%= period_to_s(experience_months) %></span>
								</div>
							</div>
						</div>
				<% else %>
					<div class="col-md-6">
						<div class="progress-container progress-primary">
							<span class="progress-badge"><%= key %></span>
							<div class="progress">
								<div class="progress-bar progress-bar-primary progress-<%= perc_xp(@total_xp_years, experience_months) %>" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div><span class="progress-value"><%= period_to_s(experience_months) %></span>
							</div>
						</div>
					</div>
					</div>
				<% end %>
			<% end %>
		</div>
	  </div>
  </div>
</div>