<%= render 'navbar' %>
<div class="page-content">
    <%= render 'profile' %>
    <%= render 'about_me' %>
    <%= render 'skills' %>
    <%= render 'speak_languages' %>

    <!-- <%= period_to_s(@stack_xp["Android"]) %> -->
</div>
<%= render 'footer' %>